* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.main-content {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../img/bg-stars.svg"), url("../img/pattern-hills.svg") no-repeat;
  background-color: #191a24;
  background-position: bottom;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  font-family: "Red Hat Text", sans-serif;
  min-height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  line-height: 1.5;
  max-width: 1440px;
  padding-top: 15vh;
  position: relative;
}

.main-content .main-title {
  color: #fff;
  font-size: 1.5em;
  letter-spacing: 8px;
  margin: 20px 20px 109px;
  text-align: center;
  text-transform: uppercase;
}

.main-content .container-countdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.main-content .countdown-block {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin-right: 30px;
}

.main-content .countdown-block:last-child {
  margin-right: 0;
}

.main-content .countdown-block .subtitle {
  color: #8486a9;
}

.main-content .time-element {
  background-color: #33354d;
  border-radius: 8px;
  -webkit-box-shadow: 0px 8px 0px 0px #16151d;
          box-shadow: 0px 8px 0px 0px #16151d;
  color: #fb6087;
  font-size: 5.5em;
  height: 140px;
  line-height: 138px;
  margin-bottom: 27px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 150px;
}

.main-content .time-element::before, .main-content .time-element::after {
  background: #24242e;
  border-radius: 50%;
  content: "";
  height: 10px;
  position: absolute;
  top: calc(50% - 5px);
  width: 10px;
  z-index: 6;
}

.main-content .time-element::before {
  left: -5px;
}

.main-content .time-element::after {
  right: -5px;
}

.main-content .time-element > span {
  left: 0;
  position: absolute;
  right: 0;
}

.main-content .time-element .top {
  background-color: #2a2a41;
  -webkit-transform-origin: 50% 100%;
          transform-origin: 50% 100%;
  -webkit-transform: perspective(200px);
          transform: perspective(200px);
  z-index: 3;
}

.main-content .time-element .top::after,
.main-content .time-element .bottom-back::after {
  border-bottom: 1px solid #24242e;
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.main-content .time-element .bottom {
  z-index: 1;
}

.main-content .time-element .bottom::before {
  background-color: #33354d;
  content: "";
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.main-content .time-element .bottom-back {
  background-color: #33354d;
  height: 50%;
  overflow: hidden;
  top: 0;
  z-index: 2;
}

.main-content .time-element .bottom-back span {
  bottom: 0;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
}

.main-content .time-element .top,
.main-content .time-element .top-back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 50%;
  overflow: hidden;
}

.main-content .time-element .top-back {
  background-color: #33354d;
  bottom: 0;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: perspective(200px) rotateX(180deg);
          transform: perspective(200px) rotateX(180deg);
  z-index: 4;
}

.main-content .time-element .top-back span {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: -100%;
}

.main-content .attribution {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 250px;
  text-align: center;
}

.main-content .attribution .attribution-text {
  color: #8486a9;
}

.main-content .attribution .social-medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style: none;
}

.main-content .attribution .social-medias .social-links {
  margin: 10px;
  font-size: 50px;
}

.main-content .attribution .social-links,
.main-content .attribution a {
  color: #fff;
}

.main-content .attribution .social-links:hover,
.main-content .attribution a:hover {
  color: #fb6087;
}

.main-content .attribution .social-links:focus,
.main-content .attribution a:focus {
  color: #fb6087;
  outline: #fff dotted 3px;
  outline-offset: 0.5em;
}

@media only screen and (max-width: 768px) {
  .main-content .container-countdown {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */